* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: #006241;
  color: white;
}
/* -----------------HEADER--------- */
.header {
  background-color: #006241;
  -webkit-box-shadow: -1px 6px 33px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 6px 33px 11px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 6px 33px 11px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navegacion {
  display: flex;
}
.header__logo-persona {
  display: none;
}

.header__logo {
  width: 50px;
  padding: 10px;
}

.header__navegacion-link,
.header__usuario-link {
  display: none;
}

.header__mobile {
  padding: 6px;
  color: white;
  font-size: 25px;
}

/* ---------------------MAIN--------------- */
.main {
  margin-top: 90px;
  padding: 15px 15px 60px;
}

.main__texto {
  display: flex;
  flex-direction: column;
}

.main__contenedor {
  display: none;
}

.main__texto-mediano {
  font-size: 50px;
  line-height: 1.2;
  font-weight: bold;
}

.main__texto-mediano span {
  color: #006241;
  font-size: 60px;
  font-weight: bold;
}

.main__texto-pequeño {
  margin-top: 20px;
  font-weight: bolder;
}

/* -----------------------------GALERIA------------------- */
.galeria {
  background-color: #006241;
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galeria__contenedor-uno-imagen,
.galeria__contenedor-dos-imagen,
.galeria__contenedor-tres-imagen {
  margin: 10px 10px;
  width: 85%;
}

/* ---------------------------FORMULARIOS---------------------- */
.Formularios{
    background-color: black;
    padding: 40px 15px ;
}

.Formularios__contenedor-items{
    background-color: #006241;
    padding: 15px;
    margin: 30px 18px ;
    display: flex;
    flex-direction: column;
}

.Formularios__contenedor-titulo,
.Formularios__contenedor-titulo-contacto{
    color: #006241;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    
}

.Formularios__contenedor-items-primero,
.Formularios__contenedor-items-segundo{
    color:white;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid#006241 ;
    
    
    
}

.Formularios__contenedor-items-primero-correo-placeholder,
.Formularios__contenedor-items-segundo-area-texto{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid#006241 ;
    color: #006241;
    font-weight: bold;
    letter-spacing: 1.2px;
    width: 100% ;
}

.Formularios__contenedor-items-primero-correo-placeholder:focus,
.Formularios__contenedor-items-segundo-area-texto:focus{
    background-color: black;
    color: white;
}

.Formularios__contenedor-boton-enviar{
    background-color: inherit;
    border: 2px solid white;
    padding: 5px 10px;
    width: 115px;
    font-size: 15px;
    border-radius: 15px;
    margin: 10px 5px;
    color: white;
    transition: all 1s;
    cursor: pointer;

}


.Formularios__contenedor-boton-enviar:hover{
    background-color: yellow;
    color: white;
    

}

/* ------------------------TARJETAS---------------------------- */

.tarjetas{
    margin-top: 15px;
    padding:25px 15px ;
    color: white;
    display: flex;
    flex-direction: column;
}

.tarjetas__contenedor-uno,
.tarjetas__contenedor-dos,
.tarjetas__contenedor-tres,
.tarjetas__contenedor-cuatro {
     background-color: #006241;
     margin-top: 25px;
     height: 380px;
     position: relative;
   
}
    
.tarjetas__contenedor-uno-imagen,
.tarjetas__contenedor-dos-imagen,
.tarjetas__contenedor-tres-imagen,
.tarjetas__contenedor-cuatro-imagen {
    width: 100%;
   
}

h2 span{
 color: yellow;

}

.tarjetas__contenedor-uno-texto-mediano,
.tarjetas__contenedor-dos-texto-mediano,
.tarjetas__contenedor-tres-texto-mediano,
.tarjetas__contenedor-cuatro-texto-mediano{
    padding-top: 5px;
    
}


.tarjetas__contenedor-uno-enlace,
.tarjetas__contenedor-dos-enlace-uno,
.tarjetas__contenedor-dos-enlace-dos,
.tarjetas__contenedor-tres-enlace,
.tarjetas__contenedor-cuatro-enlace{

    background-color: inherit;
    border: 2px solid white;
    font-size: 16px;
    border-radius: 15px;
    color: white;
    transition: all 1s;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 10px;
    margin:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjetas__contenedor-uno-enlace{
    text-align: center;
    margin: 10px 40px;
}

.tarjetas__contenedor-dos-enlace-uno,
.tarjetas__contenedor-dos-enlace-dos{
    text-align: center;
    padding-bottom: 2px;
}
.tarjetas__contenedor-uno,
.tarjetas__contenedor-dos{
    display: flex;
    flex-direction: column;
}

.tarjetas__contenedor-uno-enlace:hover,
.tarjetas__contenedor-dos-enlace-uno:hover,
.tarjetas__contenedor-dos-enlace-dos:hover,
.tarjetas__contenedor-tres-enlace:hover,
.tarjetas__contenedor-cuatro-enlace:hover{
    background-color: yellow;
    color: white;
}

.tarjetas__contenedor-uno-texto-pequeño,
.tarjetas__contenedor-dos-texto-pequeño,
.tarjetas__contenedor-tres-texto-pequeño,
.tarjetas__contenedor-cuatro-texto-pequeño,
h2{
    margin:10px 0 ;
    padding: 0px 15px;
}

.tarjetas__contenedor-uno-texto-pequeño,
.tarjetas__contenedor-tres-texto-pequeño,
.tarjetas__contenedor-cuatro-texto-pequeño{
    padding-bottom: 15px;
}

.tarjetas__contenedor-uno-descuento,
.tarjetas__contenedor-dos-descuento{
    background-color: yellow;
    border-radius: 50%;
    color: black;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top:10opx
    

}

/* ----------------------------FOOTER-------------------------- */

.footer{
    background-color: black;
    padding: 25%;
    
}

.footer__contenedor-izquierda,
.footer__contenedor-centro,
.footer__contenedor-derecha {
    
    display: flex;
    flex-wrap:wrap ;

}

.footer__contenedor-centro-enlace-uno,
.footer__contenedor-centro-enlace-dos,
.footer__contenedor-centro-enlace-tres{
    padding: 10px;
    font-size: 25px;
    color: #006241;

}
    
.footer__contenedor-izquierda-enlace-uno,
.footer__contenedor-izquierda-enlace-dos,
.footer__contenedor-derecha-enlace{
    text-decoration: none;
    color: #006241;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.footer__contenedor-derecha-enlace{
    color: #00ff04;
}

